<h2>Deep Thought</h2>

<p> a supercomputer programmed to calculate the answer to the Ultimate Question of Life, the Universe, and Everything.</p>

{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
