<div class= "container">
  <header class= "well">
    <h1>Deep Thought</h1> <hr>
    |{{#link-to 'contact'}}Make Contact!{{/link-to}}|{{#link-to 'about'}}About the Deep Thought!{{/link-to}}|{{#link-to 'index'}}home!{{/link-to}}|
  </header>
    {{outlet}}
  <hr>
  <footer>

  </footer>
</div>
