<h1> Deep Thought</h1>
<h3>It is a Question and Answer Message Board.</h3>

Where all questions are eventually ansered.

<ul>
  {{#each model as |question|}}
    <li>{{question.question}} <br>asked by: {{question.author}}</li>
    {{/each}}
</ul>

{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
